.otp-field {
  margin-right: 8px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding-left: 15px;
}

.otp-field:hover {
  border: 1px solid #8f8f8f;
}

.scooterCluster {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -18px !important;
  margin-top: -18px !important;
  width: 36px !important;
  height: 36px !important;
  font-size: 16px;
  border-radius: 50%;
  color: #14c260;
  background-color: #fafafa;
  /* lower than scooter value (240) */
  z-index: 230;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(201, 201, 201, 1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(201, 201, 201, 1);
  box-shadow: 0px 0px 5px 0px rgba(201, 201, 201, 1);
}

.scooterContainer {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(201, 201, 201, 1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(201, 201, 201, 1);
  box-shadow: 0px 0px 5px 0px rgba(201, 201, 201, 1);
}

.scooterIcon {
  width: 90%;
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
