.btn {
  padding: var(--space-2) var(--space-4);
  border-radius: var(--border-radius-pill);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-base);
  line-height: 145%;
  border: none;
  cursor: pointer;
  text-align: center;
  display: block;

  /* Set through JS */
  @property --btn-color {
    syntax: '*';
    inherits: false;
  }
  @property --btn-color-hover {
    syntax: '*';
    inherits: false;
  }
  @property --btn-bg {
    syntax: '*';
    inherits: false;
  }
  @property --btn-bg-hover {
    syntax: '*';
    inherits: false;
  }

  background-color: var(--btn-bg);
  color: var(--btn-color);
}

.btn:disabled,
.btn[aria-disabled="true"],
.btn.is-disabled {
  cursor: not-allowed;
  opacity: var(--disabled-opacity);
}

.btn:focus-visible,
.btn.is-focus-visible {
  /*outline: */
}

.btn:hover:not(:disabled):not([aria-disabled="true"]),
.btn.is-hover {
  background-color: var(--btn-bg-hover);
  color: var(--btn-color-hover);
}

.btn-outline {
  border: 1px var(--btn-color) solid;
}

.btn-sm {
  padding: var(--space-1) var(--space-2);
  font-size: var(--font-size-sm);
}

.btn-lg {
  font-size: var(--font-size-lg);
}

.btn-link {
  text-decoration: none;
}

.btn-inline {
  margin: calc(-1 * var(--space-2)) calc(-1 * var(--space-4));
}

.btn-inline-sm {
  margin: calc(-1 * var(--space-1)) calc(-1 * var(--space-2));
}
