.card-text-base {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-normal);
}

.card-text-title {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
}