
.simple-keyboard.hg-theme-default.suma {
    background-color: transparent;
}

.simple-keyboard.hg-layout-default .hg-button {
    background: #e0e0e0;
    font-weight: bold;
    box-shadow: none;
    width: 33.3% !important;
}

.simple-keyboard.hg-layout-default .hg-button.hg-button-blank {
    opacity: 0;
    cursor: unset;
}
