.hidden {
  display: none;
}

.error {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--tint-danger);
  color: var(--color-danger);
  border-radius: var(--border-radius);
  padding: var(--space-2);
}

.error-small {
  font-size: 80%;
  line-height: 100%;
}

.loader {
  border-radius: var(--border-radius);
  animation: loader-animation 2s ease-in-out infinite alternate;
  background: linear-gradient(
      90deg,
      var(--image-loader-color1),
      var(--image-loader-color2),
      var(--image-loader-color1),
      var(--image-loader-color2),
      var(--image-loader-color1)
  );
  background-size: 400% 400%;
}


@keyframes loader-animation {
  0% {
    background-position: 0 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.cover {
  width: 100%;
  object-fit: cover;
}