.trips-week-divider {
  background-color: var(--color-primary);
  height: var(--space-1);
  width: 100%;
}

.trips-image-vehicle {
  border-radius: 50%;
  background-color: var(--tint-secondary);
  padding: var(--space-1);
}