.otp-container {
  display: flex;
  flex-direction: row;
  gap: var(--space-1);
}

.otp-field {
  height: 60px;
  border-radius: var(--border-radius);
  border: var(--color-border) solid var(--border-width);
  font-size: 1.8rem;
  text-align: center;
  width: 100%;
}

.otp-field:active, .otp-field:focus-visible {
  border: 2px solid var(--color-primary);
  outline: none;
}

.otp-field:focus:not(:focus-visible) {
  outline: 0;
}

