@import "./_fonts";

$min-contrast-ratio: 2.5;

$font-family-sans-serif: 'Source Sans Pro', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-serif: 'Raleway', $font-family-sans-serif;
$font-size-base: 1.05rem;

$primary: rgb(205, 166, 113);
$secondary: rgb(190, 193, 187);
$success: #498567;
$danger: #b53d00;
$light: #f2f2f2;
$dark: #0d0d0d;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$btn-border-width: 3px;
$btn-border-radius: 50px;
$btn-font-weight: bold;

$headings-font-weight: 700;
$headings-font-family: $font-family-serif;

$input-btn-padding-y: .5rem;
$input-btn-padding-x: 1rem;
$input-border-color: lighten($primary, 20%);
$input-border-width: 2px;
$input-border-radius: 0;
$input-placeholder-color: $gray-500;

// Configuration
// Note: Any variable override goes above these files
// to avoid any unexpected bugs
@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/_mixins";

// Layout & components
@import "~bootstrap/scss/_accordion";
@import "~bootstrap/scss/_alert";
@import "~bootstrap/scss/_root";
@import "~bootstrap/scss/_badge";
@import "~bootstrap/scss/_button-group";
@import "~bootstrap/scss/_buttons";
@import "~bootstrap/scss/_card";
@import "~bootstrap/scss/_carousel";
@import "~bootstrap/scss/_close";
@import "~bootstrap/scss/_containers";
@import "~bootstrap/scss/_dropdown";
@import "~bootstrap/scss/_forms";
@import "~bootstrap/scss/_grid";
@import "~bootstrap/scss/_images";
@import "~bootstrap/scss/_modal";
@import "~bootstrap/scss/_nav";
@import "~bootstrap/scss/_navbar";
@import "~bootstrap/scss/_pagination";
@import "~bootstrap/scss/_reboot";
@import "~bootstrap/scss/_tables";
@import "~bootstrap/scss/_transitions";
@import "~bootstrap/scss/_utilities";
// @import "~bootstrap/scss/_breadcrumb";
// @import "~bootstrap/scss/_list-group";
// @import "~bootstrap/scss/_offcanvas";
// @import "~bootstrap/scss/_progress";
// @import "~bootstrap/scss/_popover";
// @import "~bootstrap/scss/_spinners";
// @import "~bootstrap/scss/_toasts";
// @import "~bootstrap/scss/_tooltip";
@import "~bootstrap/scss/_type";

// Helpers
@import "~bootstrap/scss/_helpers";

// Utilities
@import "~bootstrap/scss/utilities/api";

// Customize Bootstrap classes

.btn {
  font-size: 110%;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.btn-primary {
  @include button-variant(darken($primary, 5%), darken($primary, 5%));
}