
.blinking-alert {
  border-width: 3px !important;
  animation-duration: 1s;
  animation-name: blinkingAlertAnimation;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.670, 1.140, 0.840, 0.980); /* custom */
}

@keyframes blinkingAlertAnimation {
  from {
    border-color: unquote("hsl(from var(--bs-alert-bg) h s l)")
  }

  to {
    border-color: unquote("hsl(from var(--bs-alert-bg) h s calc(l - 10))")
  }
}

.alert {
  a {
    color: var(--bs-alert-color) !important;
    text-decoration: none;
    font-weight: bold;
  }
}

.solo-alert {
  border-top: none !important;
}