@font-face {
  font-family: 'SourceSansPro';
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro"), url("../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"), url("../fonts/Raleway/Raleway-VariableFont_wght.ttf") format('truetype');
}
