@import "./theme.scss";

.food-widget-dropdown-menu {
  max-height: 200px;
  min-width: auto !important;
  text-align: center !important;
  overflow-y: scroll;
}

.order-confirmation-spinner-duration {
  animation-duration: 3s !important;
}

.cart-icon-loader {
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s;

  &.loading {
    opacity: 1;
  }
}

.cart-icon-text {
  opacity: 1;
  transition: opacity 0.2s;

  &.loading {
    opacity: 0;
  }
}