@import "./theme.scss";

.food-widget-dropdown-menu {
  max-height: 200px;
  min-width: auto!important;
  text-align: center!important;
  overflow-y: scroll;
}

.order-confirmation-spinner-duration {
  animation-duration: 1s!important;
}
