@import "./theme";

.mobility-drawer {
  position: absolute;
  top: 0;
  width: calc(100% - 4px);
  left: 2px;
  padding: map-get($spacers, 4);
  background-color: map-get($theme-colors, "light");
  border-bottom-left-radius: $border-radius * 4;
  border-bottom-right-radius: $border-radius * 4;
  z-index: 1000;
}

.leaflet-control-container {
  .leaflet-bottom {
    /* Raise this above the browser controls that may open
    and would sit on top of the map. */
    bottom: 100px;
  }
}

.leaflet-container {
  font-family: $font-family-sans-serif !important;
  font-size: 0.85rem;
}

.leaflet-div-icon {
  background: none;
  border: none;
}

.leaflet-popup-content-wrapper {
  border-radius: 0.25rem;
  border: 1px solid #eee;
  background-color: white;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  box-shadow: none;
}

.leaflet-popup-tip-container {
  overflow:unset;
}

.leaflet-popup-content {
  width:250px!important;
  margin: 0!important;
  padding: 1rem 1rem!important;

  p {
    color: $gray-600;
  }
}

.mobility-restricted-area-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: $danger;
  color: $white;
  font-size: $h6-font-size;
  width: 24px!important;
  height: 24px!important;
}

.mobility-map-cluster-icon {
  display: flex!important;
  justify-content: center;
  align-items: center;
  margin-left: -18px !important;
  margin-top: -18px !important;
  width: 36px !important;
  height: 36px !important;
  font-size: 16px;
  border-radius: 50%;
  color: $primary;
  background-color: #fafafa;
  /* lower than scooter value (240) */
  z-index: 230;
  box-shadow: 0 0 5px 0 rgba(201, 201, 201, 1);
}

.mobility-map-icon {
  /* height of scooter and container */
  height: 43px!important;
  border-radius: 7px;
  box-shadow: 0 0 5px 0 rgba(201, 201, 201, 1);
}

.mobility-map-icon-img {
  width: 90%!important;
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mobility-location-marker-icon {
  width: 16px;
  height: 16px;
  background-color: #0495ff;
  border-radius: 50%;
  border: 2px solid white;
}

.mobility-location-accuracy-circle-transition {
  transition: all 1000ms linear 0s;
}

.trips-image-vehicle {
  border-radius: 50%;
  background-color: $info-light;
  padding: 2px;
}

.trips-week-divider {
  background-color: $info-light;
  height: map-get($spacers, 2);
  width: 100%;
}