@import "./theme";

.leaflet-container {
  font-family: $font-family-sans-serif !important;
  font-size: 0.85rem;
  /* This is approximately equal to the leftover space after accounting for the header */
  height: calc(100vh - 150px);
}

.leaflet-popup-content-wrapper {
  border-radius: 0.25rem;
  border: 1px solid #eee;
  background-color: white;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  box-shadow: none;
}

.leaflet-popup-tip-container {
  overflow:unset;
}

.leaflet-popup-content {
  width:250px!important;
  margin: 0!important;
  padding: 1rem 1rem!important;

  p {
    color: $gray-600;
  }
}

.mobility-blocked-area-icon {
  width: 24px!important;
  height: 24px!important;
}

.mobility-map-cluster-icon {
  display: flex!important;
  justify-content: center;
  align-items: center;
  margin-left: -18px !important;
  margin-top: -18px !important;
  width: 36px !important;
  height: 36px !important;
  font-size: 16px;
  border-radius: 50%;
  color: $primary;
  background-color: #fafafa;
  /* lower than scooter value (240) */
  z-index: 230;
  box-shadow: 0 0 5px 0 rgba(201, 201, 201, 1);
}

.mobility-map-icon {
  /* height of scooter and container */
  height: 43px!important;
  border-radius: 7px;
  box-shadow: 0 0 5px 0 rgba(201, 201, 201, 1);
}

.mobility-map-icon-img {
  width: 90%;
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mobility-overlay-card {
  /* zIndex higher than map (400) */
  z-index: 401;
  position: absolute !important;
  top: 0;
  left: 50%;
  width: 250px;
  margin: 0 auto;
  transform: translate(-50%, 2%);
}

.mobility-overlay-card-loading-icon {
  width: 38px;
}
