@import "./_theme";

.signup-agreement-component {
  background-color: lighten($primary, 35%);
  border: lighten($primary,20%) 1px solid;
  border-radius: $border-radius-lg;
  box-sizing: border-box;
  color: $gray-700;
  cursor: pointer;
  padding: map-get($spacers, 3);

  // to help balance the weird label thing
  .form-check-input {
    flex: 0 0 auto;
    margin-left: 0;
    margin-top: 0.2em;
    border-color: darken($blue, 5%);
  }

  a {
    // this needs to be replaced eventually...
    color: darken($blue, 5%) !important;
  }
}

.onboarding-carousel {
  > .carousel-indicators {
    display: none !important;
  }
}

.onboarding-carousel-image {
  height: 500px;
}

.onboarding-carousel-image-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.6) 33%, rgba(0,0,0,0.0) 46%);
}
