@import "./theme";

.otp-field {
  margin-left: 4px;
  margin-right: 4px;
  width: 44px;
  height: 60px;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding-left: 12px;
  font-size: 1.8rem;
}

.otp-field:active, .otp-field:focus-visible {
  border: 2px solid $primary;
  outline: none;
}

.otp-field:focus:not(:focus-visible) {
  outline: 0;
}

