@import "./theme";

.table-of-contents-collapse {
  // avoid BS scrollTo position issues
  position: absolute;
  top: 49px;
  border: 1px solid $secondary;
  left: -1px;
  right: -1px;

}

// table-of-contents mobile-responsive
// note: needs to be outside of table-of-contents-collapse
// to work properly
.navbar-nav-scroll {
  --bs-scroll-height: calc(100vh - 50px);

  .active {
    font-weight: bold;
  }
}

.community-driven-container-radius {
  border-radius: 25px;
}

.privacy-policy-section-padding {
  padding-top: map-get($spacers, 4);
  padding-bottom: map-get($spacers, 5);
}

.table-of-contents-desktop {
  max-width: 320px;
  min-width: 320px;
}

.privacy-policy-desktop-container {
  max-width: 1600px;
}

.privacy-policy-desktop {
  padding-bottom: 100px;
}

.privacy-policy-image {
  width: 150px;
}

// X-Large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) { 
  .privacy-policy-desktop {
    max-width: 900px !important;
  }
}