// Override Variables
$font-size-base: 1.05rem;
$btn-border-radius: .3rem;
$btn-border-radius-sm: .2rem;
$btn-border-radius-lg: .5rem;

// Configuration
// Note: Any variable override goes above these files
// to avoid any unexpected bugs
@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/_mixins";

.main-container {
  max-width: 500px;
  margin: 0 auto 80px;
}

$theme-colors: map-merge-multiple(
  $theme-colors,
  (
    "primary": #f5cb82,
    "primary-dark": #a77948,
    "suma-blue": #a7b8d9,
    "light": #f2f2f2,
    "dark": #0d0d0d
  ),
);
// Adds theme colors to sub-classes e.g. text-suma, bg-suma
// will be fixed in BS 5.2.x per: https://github.com/twbs/bootstrap/issues/35297
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$utilities-colors: map-merge($utilities-colors, $theme-colors-rgb);
$utilities-colors: map-merge($utilities-colors, (
  "black": to-rgb($black),
  "white": to-rgb($white),
  "body": to-rgb($body-color)
));
$utilities-text-colors: map-loop($utilities-colors, rgba-css-var, "$key", "text");
$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");


// Layout & components
@import "~bootstrap/scss/_accordion";
@import "~bootstrap/scss/_alert";
@import "~bootstrap/scss/_root";
@import "~bootstrap/scss/_badge";
@import "~bootstrap/scss/_buttons";
@import "~bootstrap/scss/_card";
@import "~bootstrap/scss/_carousel";
@import "~bootstrap/scss/_close";
@import "~bootstrap/scss/_containers";
@import "~bootstrap/scss/_forms";
@import "~bootstrap/scss/_grid";
@import "~bootstrap/scss/_images";
@import "~bootstrap/scss/_modal";
@import "~bootstrap/scss/_nav";
@import "~bootstrap/scss/_navbar";
@import "~bootstrap/scss/_pagination";
@import "~bootstrap/scss/_reboot";
@import "~bootstrap/scss/_tables";
@import "~bootstrap/scss/_transitions";
@import "~bootstrap/scss/_utilities";
// @import "~bootstrap/scss/_button-group";
// @import "~bootstrap/scss/_breadcrumb";
// @import "~bootstrap/scss/_dropdown";
// @import "~bootstrap/scss/_list-group";
// @import "~bootstrap/scss/_offcanvas";
// @import "~bootstrap/scss/_progress";
// @import "~bootstrap/scss/_popover";
// @import "~bootstrap/scss/_spinners";
// @import "~bootstrap/scss/_toasts";
// @import "~bootstrap/scss/_tooltip";
@import "~bootstrap/scss/_type";

// Helpers
@import "~bootstrap/scss/_helpers";

// Utilities
@import "~bootstrap/scss/utilities/api";
