.border-radius-0 {
  border-radius: 0 !important;
}

.font-sans-serif {
  font-family: $font-family-sans-serif;
}

.font-serif {
  font-family: $font-family-serif;
}

.nowrap {
  white-space: nowrap;
}

.link-unstyled {
  text-decoration: unset;
  color: unset;
}