.related-list-expandcollapse {
    display: flex;
    flex-direction: column;
    position: relative;
}

.related-list-overlay {
    width: 100%;
    height: 70px;
    position: absolute;
    background-image: linear-gradient(0deg, white, transparent);
    pointer-events: none;
    top: -70px;
}

.related-list-table-overflow {
    max-height: 300px;
}